#!/bin/bash

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
export ZDOTDIR=$HOME/.config/zsh

# Environment variables set everywhere
export EDITOR="lvim"
export TERMINAL="kitty"
export BROWSER="google-chrome-stable"

# For QT Themes
export QT_QPA_PLATFORMTHEME=qt5ct
