#!/bin/bash

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
export XDG_STATE_HOME=$HOME/.local/state
export ZDOTDIR=$HOME/.config/zsh
export XMONAD_CACHE_DIR=$XDG_CACHE_HOME/xmonad
export XMONAD_CONFIG_DIR=$XDG_CONFIG_HOME/xmonad
export XMONAD_DATA_DIR=$XDG_DATA_HOME/xmonad

# Environment variables set everywhere
export EDITOR="lvim"
export TERMINAL="alacritty"
export BROWSER="microsoft-edge-stabl"

# For QT Themes
export QT_QPA_PLATFORMTHEME=qt5ct

xsetroot -cursor_name left_ptr &
picom &
lxpolkit &
nm-applet &
blueman-applet &
xfce4-clipman &
caffeine &
redshift &
udiskie -s &
dunst &
xfce4-power-manager &
xcape -e 'Super_L=Alt_L|F1' &
"/opt/xdman/jre/bin/java" -Xmx1024m -jar "/opt/xdman/xdman.jar" -m &
trayer --edge top --align right --widthtype request --padding 0 --SetDockType true --SetPartialStrut true --expand true --monitor 1 --transparent true --alpha 0 --tint 0x282c34  --height 24 --iconspacing 0 &
nowater -T &
